h1{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}
.title{
	text-shadow: 0 1px 0 #cccccc,
	0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb,
	0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa,
	0 6px 1px rgba(0, 0, 0, 0.1),
	0 0 5px rgba(0, 0, 0, 0.1),
	0 1px 3px rgba(0, 0, 0, 0.3),
	0 3px 5px rgba(0, 0, 0, 0.2),
	0 5px 10px rgba(0, 0, 0, 0.25),
	0 20px 20px rgba(0, 0, 0, 0.15);
	line-height: 2;
	font-size: 28px;
}
a{
	//text-decoration: none;
	color: black;
}

main{
	max-width: 1024px;
	margin: auto;
	padding: 2em 10em;
}
.hidden{
	//visibility: hidden;
	//display: hidden;
	height: 0 !important;
	//padding: 20px;
}
.answer-one, .answer-two, .answer-three{
	-webkit-transition: height .25s ease-in-out;
	   -moz-transition: height .25s ease-in-out;
	    -ms-transition: height .25s ease-in-out;
	     -o-transition: height .25s ease-in-out;
	        transition: height .25s ease-in-out;
	background-color: #fcfcfc;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
}
.answer-one{
	height: 65px;
}
.answer-two{
	height: 260px;
}
.answer-three{
	height: 260px;
}
