<div class="action-center">
	<input type="text" class="search input text-input" placeholder="Search"/>
	<a href="#" class="button sort" data-sort="product-name">Sort by product name</a>
</div>
<div class="product-content-wrapper list">

</div>

<div class="pagination-wrapper">
	<ul class="pagination">

	</ul>
</div>