<!-- template for product -->
<div class="product-container">
	<div class="product-content">
		<div class="image-wrapper">
			<a href="#" class="image-link">
				<img src="src/pics/block_nine.jpg" alt="" class="product-image">
			</a>
		</div>
		<div class="product-des-container">
			<h3 class="product-name uppercase">Product name</h3>
			<p class="product-year">1990</p>
			<p class="product-region">US</p>
		</div>
	</div>
	<a href="" class="product-more-detail uppercase">Detail</a>
</div>