<div class="form1">
	<h3>Display a message saying Good Morning if it is in the morning, Good Afternoon if it is in the afternoon, and Good Evening if it is in the Evening</h3>
	<a href="#" class="calc btn action-button" data-action="getDate">Get date</a>
</div>