<div class="form1">
	<h3>Takes an array of words and an integer i and returns the array of words that are longer than i.</h3>
	<div>
		<div>
			<h3>Insert length of the shortest words:</h3>
			<input type="text" class="input-val-num input" data-type="number">
		</div>
		<div>
			<h3>Insert list of words:</h3>
			<input type="text" class="insert-input input-val" data-type="text">
			<a href="" class="link-btn btn push-to-arr">Insert</a>
			<div class="list"></div>
		</div>
	</div>
	<a href="#" class="calc btn action-button" data-action="filterLongWords">Filter long words</a>
</div>