<div class="form1">
	<h3>Sort a list of words (an array) in alphabetical order.</h3>
	<h3>Insert list of words:</h3>
	<input type="text" class="insert-input input-val" data-type="text">
	<a href="" class="link-btn btn push-to-arr">Insert</a>
	<div class="list"></div>
	<br>
	<a href="#" class="calc btn action-button" data-action="sortAlplabet">Sort</a>
</div>