<div class="form1">
	<h3>Takes an array of words and returns the length of the longest one.</h3>
	<h3>Insert list of words:</h3>
	<input type="text" class="insert-input input-val" data-type="text">
	<a href="" class="link-btn btn push-to-arr">Insert</a>
	<div class="list"></div>
	<a href="#" class="calc btn action-button" data-action="findLongestWord">Find longest word</a>
</div>