<div class="form1 multi-list">
	<h3>Takes an array of words and an integer i and returns the array of words that are longer than i.</h3>
	<div class="table">
		<div class="table-cell">
			<h3>Insert first list of words:</h3>
			<input type="text" class="insert-input input-val half-width" data-type="text">
			<a href="" class="link-btn btn push-to-arr">Insert</a>
			<div class="list first-list"></div>
		</div>
        <div class="table-cell">
			<h3>Insert second list of words:</h3>
			<input type="text" class="insert-input input-val half-width" data-type="text">
			<a href="" class="link-btn btn push-to-arr">Insert</a>
			<div class="list last-list"></div>
		</div>
	</div>
	<a href="#" class="calc btn action-button" data-action="collectSameValue">Filter long words</a>
</div>